li {
  list-style: none;
}

lu {
  list-style: none;
}

img {
  width: 250px;
  display: inline;
}

.in-flex {
  text-align: center;
  background-color: #171717;
  color: white;
}
.home {
  background-color: #171717;
}

* {
  background-color: #171717;
  margin: 0px;
  padding: 30px;
}

h1 {
  font-size: 70px;
}
