<div class="in-flex">
  <h1>Current Projects</h1>
  <ul>
    <li>
      <h3>CoderSolidario</h3>
      <img src="../../../assets/solidaridad.png" />

      <p>
        Junto a mi amigo y socio Pablo Roluti nos encontramos en las primeras
        fases de desarrollo de una app para que de manera sencilla una persona
        pueda publicar lo que necesita y asi otra que este registrada en
        CoderSolidario como VOLUNTARIO pueda ayudarla. De esta manera la app une
        a la persona que necesita con la que puede ayudar.
      </p>
    </li>
  </ul>

  <ul>
    <li>
      <h3>CoderMascotas</h3>
      <img src="../../../assets/casa-de-mascotas.png" />

      <p>
        Junto a mi amigo y socio Pablo Roluti nos encontramos en las primeras
        fases de desarrollo de una app para que de manera sencilla una persona
        pueda publicar una mascota sin hogar para que otra que este registrada
        en CoderMascotas NUEVOHOGAR pueda adptarla. De esa manera la app une a
        la mascota con un nuevo dueño.
      </p>
    </li>
  </ul>
</div>
<div class="in-flex"></div>
