<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Photo.jpg" class="img-fluid" id="fotodeperfil" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>

    <p id="titulo">Full Stack Developer Junior</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <div id="acercademi">
        <h2>About Me</h2>
        <p>
          Mi nombre es Matias, soy abogado por la UNMDP y especialista en
          Derecho Procesal Civil por la UBA, decidí darle un cambio de rumbo a
          mi vida y adentrarme el fascinante mundo de la programación.
          Actualmente estoy finalizando la segunda etapa de Argentina Programa y
          realice diversos cursos online en torno a la misma temática.
        </p>
      </div>
    </span>
  </div>
</div>
