<section class="home">
  <div class="in-flex">
    <h1>Hard & Soft Habilidades</h1>
    <img src="../../../assets/skills pic.png" alt="" />
  </div>
  <div class="in-flex">
    <div>
      <circle-progress
        [percent]="70"
        [radius]="60"
        [imageSrc]="'../../../assets/ANGULAR.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#66faff'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>

      <circle-progress
        [percent]="65"
        [radius]="60"
        [imageSrc]="'../../../assets/HTML.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#66faff'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>

      <circle-progress
        [percent]="90"
        [radius]="60"
        [imageSrc]="'../../../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#66faff'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>

      <circle-progress
        [percent]="65"
        [radius]="60"
        [imageSrc]="'../../../assets/NETBEANS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#66faff'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div></div>
  </div>
</section>
