<div class="fondoE">
  <li class="textoES">
    <ul>
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevaexp"
        *ngIf="isLogged"
      >
        Nueva Experiencia
      </button>
    </ul>
    <ul>
      <li *ngFor="let Experiencia of expe">
        <br />
        <br />
        <td>
          <h2>{{ Experiencia.nombreE }}</h2>
        </td>
        <br />
        <td>{{ Experiencia.descripcionE }}</td>

        <td *ngIf="isLogged">
          <button
            class="btn btn-light"
            routerLink="/editexp/{{ Experiencia.id }}"
          >
            <i class="bi bi-pencil-fill"></i> EDITAR
          </button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(Experiencia.id)">
            <i class="bi bi-trash-fill"></i> BORRAR
          </button>
        </td>
      </li>
    </ul>
  </li>
</div>
